.main {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.toolbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px
}

.toolbarElement{
    margin: 1rem;
}

.toolbarElement:hover{
    opacity: 0.5;
    cursor: pointer;
}

.post {
    width: 500px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}
.post img {
    width: 100%;
}
.post h1 {
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
}
.paginator div {
    margin: 25px;
}
.paginator .active {
    cursor: pointer;
}
.paginator .disabled {
    cursor: not-allowed;
    color: rgb(179, 179, 179);
}